body {
    margin: 150px;
}

.imagenperfil{
    height: 170px;
    width: 170px;
    border: 2px solid;
}

.flexperfil{
    background-image: url(../img/imagen\ de\ fondo.jpg);
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.container-xl{
    background-color: rgb(74, 232, 238);
    padding: 20px;
    /* background-image: url(./img/imagen\ de\ fondo.jpg); */

    
}
.container-xxl{
    background-image: url(../img/imagen\ de\ fondo.jpg);
    height: 200px;
}
.header{
    height: 20px;
    padding: 20px;
    
}
/* .d-flex{
    flex-wrap: nowrap;
    text-align: left;
} */
.section{
    background-image: url(../img/imagen\ de\ fondo.jpg);
    
}
.header2{
    background-color: rgb(38, 191, 211);
    margin: 15px 15px 15px 15px;
    border: 2px solid aquamarine;
    border-radius: 25px;
    padding: 20px;
}

.exp{
    width: 250px;
    height: 250px;
}

.colorsect{
    background-image: url(../img/section2.jpg);
    /* margin: 150px; */
    
}
.fotoperfil{
    max-width: 100%;
    height: 200px;   
}