
.imagendefondo{
    width: 60em;
    /* height: 6em; */
    background-image: url("../Desafio2css/assets/img/fondo.jpg");
    background-size: cover ;
    background-position: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-size: x-large;

}

.tabla{
    padding-left: 30%;
    font-size: large
    

}
.imagen{
    width: 200px;
    height: 200px;
}
.footer{
    background-color: pink;
    text-align: center;
}   
   

   
    

